@import './variables.scss';
@import './bootstrap.min.scss';
.list-font-size {
    font-size: $list-font-size;
}

.showMore {
    cursor: pointer;
    color: $sub-text-color;
}

/**CARD */
.card-body{
    font-size: 12px;
}
.card-header__colors {
    @extend .bg-primary;
    @extend .text-light;
}
.card__small_text{
    font-size: 12px;
}
.card__subcaption_border {
    @extend .border-bottom;
    @extend .border-warning;
}

/**FORM */

.form-help-text{
    color    : $sub-text-color;
    font-size: $form-sub-text-size;
}


/**NAV */
.nav__subItems_container{
    margin-left: 35px !important;
}
.nav__subItem {
    color    : $sub-text-color;
    font-size: $nav-sub-text-size;
}
.nav-icon {
    width:20px;
    height:20px;
}